*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-indicators img{
  width: 70px;
  display: block;
}
.carousel-indicators button{
  width: max-content!important;
}
.carousel-indicators{
  position: unse;
}
.carousel-indicators button.active img{
  border: 2px solid blue;
}
.carousel-inner img{
  height: 60vh;

}
.image-wrapper{
  height: 60vh;
}
.image-wrapper img{
  max-width: 100%;
  max-height: 100%;
}